@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face{
    font-family: 'Android';
    src:url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root{
    --cor0: #FFE7AD;
    --cor1: #f09e05;
    --cor2: #7A5600;
    --cor3: #523A00;
    --cor4: #00B4D8;
    --cor5: #003D52;
    --cor6: #03045E;

    --font-padrao: Arial, verdana, Helvetica, sans-serif;
    --font-destaque: 'Bebas neue', cursive;
    --font-android: 'Android', cursive;
}

/*#### CONFIGURAÇÕES GLOBAIS###*/

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--cor0);
    font-family: var(--font-padrao);
}

main p{
    margin: 15px 0px;
    text-align: justify;    
}
/*### config. do header###*/
header{
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor5));
    min-height: 130px;
    text-align: center;
    padding-top: 30px;
   
}

header > h1{
    font-size: 3em;
    color:white;
    margin-bottom: 10px;
    font-family: var(--font-destaque);
    text-shadow:0px 9px 4px rgba(0, 0, 0, 0.473);
      
}

header >p{
    font-family: var(--font-padrao);
    color: white;
    font-size: 1.5em;
    max-width: 700px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto; 
    text-shadow:8px 4px 1px rgba(0, 0, 0, 0.274);
}

/* CONFIG. MENU NAVEGAÇÃO*/
nav{
    background-color: var(--cor6);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.11);

}
nav > a{
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 2s;
}
nav > a:hover{
    background-color: var(--cor1);
    color:var(--cor6);
    border-radius: 8px;

}
/* Slider Geral */
    .slides {
      position: relative;
      width: 100%;
      height: 600px;
      overflow: hidden;
    }
    .carousel{
        position: relative;
        width: 100%;
        height: 400px;
        overflow: hidden;
    }
    .slides {
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      opacity:0;
      transition: opacity 1s ease-in-out;
    }
    .slide.active{
      opacity: 1;
    }
    .slide-text {
      position: absolute;
      bottom: 30px;
      left: 40px;
      background: rgba(0,0,0,0.5 );
      color: #fff;
      padding: 1rem, 2rem;
      border-radius: 10px;
    }
    .slide-text a {
      color: white;
      background: #1e88e5;
      padding: 0.5rem 1rem;
      text-decoration: none;
      margin-top: 0.5rem;
      display: inline-block;
      border-radius: 5px;

      /* BOTOES SLIDER*/
    }
    #prevBtn, #nextBtn{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: rgba(0,0,0,0.4,);
      color: white;
      font-size: 2rem;
      padding: 0.5rem 1rem;
      border: none;
      cursor: pointer;
      z-index: 2;
    }
    #prevBtn{left: 10px;}
    #nextBtn{right: 10px;}
    
    @media (max-width: 768px) {
      .slides {
        height: 300px;
      }
      .slide-text{
        font-size: 0.9rem;
        padding: 1rem;
        bottom: 20px;
        left: 20px;
      }
      .slide-text h2 {
        font-size: 1.2rem;
      }
      .btn-slide {
        font-size: 0.9rem;
        padding: 8px 18px;
      }
    }
/*##sessao galeria##*/

.galeria{
    padding: 60px 30px;
    background-color: var(--cor1);
    text-align: center;

}
.galeria h2{
    font-size: var(--font-android);
    margin-bottom: 30px;
    color: var(--cor0);
}
.galeria-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
/*CARD FLIP */
.card-flip{
    perspective: 1000px;
    width: 250px;
    height: 350px;
}
.card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s ease;
    transform-style: preserve-3d;

}
.card-flip:hover .card-inner{
    transform: rotateY(180deg);
}
.card-front, .card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    backface-visibility: hidden;
    overflow: hidden;
    border: 3px solid transparent;
    background-clip: padding-box, border-box;
    background-origin: border-box;
}
.card-front{
    background-color: #fff;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(#fff, #fff),
    linear-gradient(135deg, #00f, #f0f);
    background-clip: content-box, border-box;
}

.card-front img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-back{
    background-color: #e5e5e5;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: #333;
    font-size: 16px;
    background-image: linear-gradient(#e5e5e5, #e5e5e5), linear-gradient(135deg, #00f, #f0f);
    background-clip: content-box, border-box;
}

